---
import type { CollectionEntry } from "astro:content";

const { blogEntry } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blog">;
}
---

<div class="shrink-0">
  <img
    class="size-[46px] rounded-full border-2 border-neutral-50"
    src={blogEntry.data.authorImage}
    alt={blogEntry.data.authorImageAlt}
    draggable="false"
    width="46"
    height="46"
    loading="lazy"
    decoding="async"
  />
</div>
