---
import type { CollectionEntry } from "astro:content";

const { blogEntry } = Astro.props;

interface Props {
  blogEntry: CollectionEntry<"blog">;
}
---

<div class="shrink-0">
  <img
    class="size-10 rounded-full sm:h-14 sm:w-14"
    src={blogEntry.data.authorImage}
    alt={blogEntry.data.authorImageAlt}
    draggable="false"
    width="56"
    height="56"
    loading="lazy"
    decoding="async"
  />
</div>
